
@{
    ViewBag.Title = "Edit";
}

<h2>Assign Roles to Users</h2>

<table>
	<tr>
		<td>
			Select Role Name
		</td>
		<td>
			@Html.DropDownList("RoleName")
		</td>
	</tr>
	<tr>
		<td>
			Select User Name
		</td>
		<td>
			@Html.DropDownList("UserName")
		</td>
	</tr>
</table>

